$color-primario: #b68e56;
$color-textobold: #45322e;
$color-texto: black; 
$color-icons:  rgba(245, 245, 245, 0.531);
$font-family: Verdana, Geneva, Tahoma, sans-serif;
$font-size-header: 20px;
$font-color-hover:  #45322e;





